html {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    background: #f5f5f5;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
    min-height: 100vh;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    flex: 1 0 auto;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex: 1 0 auto;
}

.app-content {
    display: flex;
    flex-direction: column;
    width: 460px;
    min-height: 400px;
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.header {
    height: 60px;
    width: 100%;
    background: #38B1CC;
    box-sizing: border-box;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    padding-left: 15px;
    padding-right: 15px;
}

.add-todo {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.add-todo input:focus {
    outline: none;
}

.add-todo input {
    flex: 1 1 auto;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
    font-weight: 700;
    background: transparent;
    box-sizing: border-box;
    color: #ecf0f1;
    border: 0;
    overflow: hidden;
    margin-right: 5px;
}

.add-todo button {
    color: #ecf0f1;
    font-weight: 700;
    padding: 0;
}

.add-todo input::-webkit-input-placeholder {
    opacity: 1;
    color: #ecf0f1;
}

.add-todo input::-moz-placeholder {
    opacity: 1;
    color: #ecf0f1;
}

.add-todo input:-ms-input-placeholder {
    opacity: 1;
    color: #ecf0f1;
}

.button {
    background: transparent;
    border: 0;
    cursor: pointer;
    width: 25px;
    min-width: 25px;
    font-size: 1em;
}

/********************************************/

.todo-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.todo-list li {
    display: flex;
    flex-wrap: nowrap;
    padding: 15px;
    min-height: 20px;
    margin-bottom: 2px;
    background-color: #f7f7f7;
    box-shadow: 0 1px 0 0 #e6e6e6, 0 2px 0 0 white;
}

.todo-list span.item {
    flex: 1 1 auto;
    border: 0;
    font-size: 1em;
    box-sizing: border-box;
    color: #666666;
    word-wrap: break-word;
    overflow: hidden;
    margin-right: 5px;
}

.todo-list li span.button {
    color: red;
}

#error {
    display: none;
    color: red;
    text-align: center;
}

/********************************************/

footer {
    font-family: Consolas, Verdana, Arial, sans-serif;
    font-size: 0.8em;
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 10px;
}

/********************************************/

@media screen and (max-width: 767px) {
    .app-content, body, .container {
        width: 100%;
    }
}