[Unit]
Description=GL-ToDo
After=network.target

[Service]
ExecStart=/home/projects/nodejs/GL-ToDo/systemd/start.sh
Restart=always
User=projects
Group=projects
Environment=NODE_ENV=production
WorkingDirectory=/home/projects/nodejs/GL-ToDo
LimitNOFILE=4096
IgnoreSIGPIPE=false
KillMode=process

[Install]
WantedBy=multi-user.target
